<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link rel="stylesheet" href="styles.css">
<div class="mainDiv">
    <div class="cardStyle">
        <form method="POST" name="" id="signupForm">
            <div class="formTitle">
                <img src="" id="signupLogo"/>
               <h2>Tạo mật khẩu mới </h2>
                <h3> Bạn chưa có tài khoản?</h3>
            </div>
            <div class="inputDiv">
                <label class="inputLabel" for="password">Mật khẩu mới</label>
                <input type="password" id="password" name="password" required placeholder="Mật khẩu mới">
            </div>

            <div class="inputDiv">
                <label class="inputLabel" for="confirmPassword">Xác nhận mật khẩu</label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Xác nhận mật khẩu">
            </div>

            <div class="buttonWrapper">
                <button type="submit" id="submitButton" class="submitButton pure-button pure-button-primary">
                    <span id="search">Đổi mật khẩu</span>
                    <span id="loader"></span>
                </button>
            </div>
        </form>
    </div>
</div>
<script src="changepassword.js"></script>